---
title: SURF TRIPS theHomie.com SURF TRIPS
---
div.row
  div.col-sm-4
    h3 I Teach Surf
    dl
      dd using methods pioneered by Mr. Miyagi.
      dt UP! DOWN! UP! DOWN!
      dd You can pay me to teach you surfing here in California, but we should take better advantage of our time together.
      dt We need to go surfing somewhere more awesome.
      dd Your average ride in California lasts 3 seconds (if you're good). 
      dt Your average ride at one of Earth's best pointbreaks is 30 seconds.
      dd [Let's go there.]
  div.col-sm-4
    h3 I'm a computer engineer.
    dl
      dd In the years since graduating with a BS in CE, I've mainly worked on web stuff.
      dt Thanks to the free time I have these days, I'm enjoying working to upgrade my software and tech skills.
      dd Check out these links to projects I've worked on:
      dt [Beeline] [Civ.io] [this site] [Cali..NET] [T9space article]
      
  div.col-sm-4
    h3 I've got a bucket list.
    dl
      dt Get paid to surf in new places.
      dd Bring fun and opportunity into communities here and abroad.
      dt Save up some dough.
      dd Make autonomous robots that clean the landscape.
      dt Make a series of surfing video games.
      dd Check out this bucket list of places I want to surf.
